@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
/*VARIABLES*/
$text: #c1c9cd;
$main-dark: #161811;
$main-light: #989e8f;
$accent-dark: #3b4834;
$accent-light: #6c7355;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  min-height: 100vh;
  background-color: $main-light;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 1em;
  max-width: 1200px;

  h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: clamp(1rem, 3vw, 5rem);
    margin-bottom: 0.15em;
    color: $main-dark;
  }

  .buttonLinks {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;

    .link {
      min-width: 400px;
      position: relative;
      padding: 0.5em;
      border-radius: 10px;
      background-color: $accent-light;

      color: $text;
      font-size: clamp(14px, 2vw, 24px);
      text-align: center;
      text-decoration: none;

      z-index: 1;

      &:before {
        content: "";
        position: absolute;
        width: 0%;
        height: 100%;
        bottom: 0;
        left: 0;

        background-color: $accent-dark;
        border-radius: 10px;
        transition: all 0.25s;
        z-index: -1;
      }

      &:hover {
        &:before {
          width: 100%;
        }
      }

      &:focus-visible {
        outline: solid 2px white;
        &:before {
          width: 100%;
        }
      }
    }
  }
}
