@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@500;700;900&family=Josefin+Sans:wght@400;600&display=swap");
/*VARIABLES*/

/*colors*/
$brown: #362222;
$dark-brown: #171010;
$gray: #423f3e;
$dark-gray: #2b2b2b;
$accent: #f58840;
/*page specific colors*/
$sunnyside-bg: hsl(198, 62%, 26%);
$sunnyside-button: hsl(51, 100%, 49%);
$sunnyside-link: hsl(212, 27%, 19%);

$timetracking-bg: hsl(226, 43%, 10%);
$timetracking-button: hsl(145, 58%, 55%);
$timetracking-link: hsl(226, 43%, 10%);

$socialproof-bg: #502050;
$socialproof-button: #f7f2f7;
$socialproof-link: #ee68a4;

$qrcode-bg: #3685ff;
$qrcode-button: white;
$qrcode-link: #2c7dfa;

$nft-bg: hsl(217, 54%, 11%);
$nft-button: hsl(215, 51%, 70%);
$nft-link: hsl(216, 50%, 16%);

$article-bg: #2f6859;
$article-button: #865627;
$article-link: white;

/*text*/
$fraunces: "Fraunces", serif;
$josefin-sans: "Josefin Sans", sans-serif;

$xs: 12px;
$s: 14px;
$md: 16px;
$lg: 20px;
$xl: 24px;
$xxl: 28px;
$big: 3rem;
$huge: 5rem;

/*padding & margin*/
$s-padding: 0.25em;
$md-padding: 0.5em;
$lg-padding: 1em;
$xl-padding: 2em;
$xxl-padding: 3em;

$s-margin: 0.25rem;
$md-margin: 0.5rem;
$lg-margin: 1rem;
$xl-margin: 2rem;
$xxl-margin: 3rem;

/*misc*/
$fast: all 0.2s ease-in-out;
$medium: all 0.5s ease-in-out;
$slow: all 1s ease-in-out;

/*! RESET */

html {
  box-sizing: border-box;
  font-size: $md;
  font-family: $josefin-sans;
  color: white;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* HELPER STYLES */
.hoverable {
  cursor: pointer;
}

.disabled {
  display: none;
}

/* GENERAL STYLES */
body {
  background-color: $dark-brown;
  width: 100%;
  min-height: 100vh;
}

/* INTRO */
.container {
  margin: auto;
  width: 70%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .title {
    margin: $xl-margin 0;
    font-family: $fraunces;
    font-size: clamp($xl, 3vw, $huge);
    font-weight: 900;
  }

  .desc {
    font-size: clamp($md, 2vw, $lg);
    text-align: justify;
    text-indent: $lg-padding;
  }

  .focus {
    color: $accent;
    letter-spacing: 2px;
    font-weight: bold;
  }

  /* CARDS */
  .cards {
    width: 100%;
    height: 100%;
    margin: $xl-margin 0;

    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;

    .card {
      width: calc(50% - 30px);
      min-width: 400px;
      height: 100%;
      min-height: 300px;
      position: relative;

      border-radius: 10px;
      box-shadow: 0px 5px 10px 0px black;
      background: rgba($color: black, $alpha: 0.15);
      background-image: url(./images/sunnyside.jpg);
      background-blend-mode: darken;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;

      overflow: hidden;

      .card__inner {
        width: 100%;
        height: 100%;
        position: absolute;
        right: -95%;
        background-color: rgba($color: black, $alpha: 0.5);

        display: flex;
        gap: 30px;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        transition: $medium;

        .card__title {
          letter-spacing: 2px;
          font-size: clamp($md, 3vw, $xl);
          font-family: $fraunces;
          font-weight: 700;
          text-transform: uppercase;
        }

        .card__button {
          padding: $md-padding $xl-padding;
          border-radius: 30px;

          border: none;
          outline: none;
          font-size: clamp($md, 2vw, $lg);
          font-family: $josefin-sans;

          opacity: 0.75;
          transition: $fast;

          a {
            text-decoration: none;
          }

          &:hover {
            opacity: 1;
            transform: scale(1.1);
          }

          &:focus-visible {
            border: solid 3px $accent;
            background-color: white !important;

            a {
              color: black !important;
            }
          }
        }
      }

      &:hover {
        .card__inner {
          right: 0;
        }
      }
    }

    /*CARD SPECIFIC STYLES*/
    #sunny-side {
      .card__inner {
        background-color: rgba($color: $sunnyside-bg, $alpha: 0.5);

        .card__button {
          background-color: rgba($color: $sunnyside-button, $alpha: 1);

          a {
            color: $sunnyside-link;
          }
        }
      }
    }

    #time-tracking {
      background-image: url(./images/timeTracking.jpg);
      .card__inner {
        background-color: rgba($color: $timetracking-bg, $alpha: 0.5);

        .card__button {
          background-color: rgba($color: $timetracking-button, $alpha: 1);

          a {
            color: $timetracking-link;
          }
        }
      }
    }

    #social-proof {
      background-image: url(./images/socialProof.jpg);
      .card__inner {
        background-color: rgba($color: $socialproof-bg, $alpha: 0.5);

        .card__button {
          background-color: rgba($color: $socialproof-button, $alpha: 1);

          a {
            color: $socialproof-link;
          }
        }
      }
    }

    #qr-code {
      background-image: url(./images/qr.jpg);
      .card__inner {
        background-color: rgba($color: $qrcode-bg, $alpha: 0.5);

        .card__button {
          background-color: rgba($color: $qrcode-button, $alpha: 1);

          a {
            color: $qrcode-link;
          }
        }
      }
    }

    #nft {
      background-image: url(./images/nft.jpg);
      .card__inner {
        background-color: rgba($color: $nft-bg, $alpha: 0.5);

        .card__button {
          background-color: rgba($color: $nft-button, $alpha: 1);

          a {
            color: $nft-link;
          }
        }
      }
    }

    #article {
      background-image: url(./images/article.jpg);
      .card__inner {
        background-color: rgba($color: $article-bg, $alpha: 0.5);

        .card__button {
          background-color: rgba($color: $article-button, $alpha: 1);

          a {
            color: $article-link;
          }
        }
      }
    }
  }
}

/*! MEDIA QUERIES */

/* MOBILE */

@media (max-width: 767px) {
  .container {
    width: 90%;

    .title {
      margin: $lg-margin 0;
    }

    .desc {
      text-indent: $md-padding;
    }

    .cards {
      margin: $lg-margin 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      gap: 20px;

      .card {
        width: 100%;
        height: 100%;
        min-width: 200px;
        max-width: 300px;
        min-height: 500px;

        background-image: url(./images/sunnysideMobile.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        .card__inner {
          right: 0;

          .card__title {
            font-size: clamp($md, 3vw, $lg);
            font-weight: 900;
          }

          .card__button {
            padding: $md-padding $lg-padding;
            font-size: clamp($md, 2vw, $lg);
            opacity: 1;
          }
        }
      }

      #time-tracking {
        background-image: url(./images/timeTrackingMobile.jpg);
      }

      #social-proof {
        background-image: url(./images/socialProofMobile.jpg);
      }

      #article {
        background-image: url(./images/articleMobile.jpg);
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 90%;

    .title {
      margin: $lg-margin 0;
    }

    .desc {
      text-indent: $xl-padding;
    }

    .cards {
      margin: $lg-margin 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      flex-wrap: nowrap;
      gap: 20px;

      .card {
        width: 100%;
        height: 100%;
        min-width: 400px;
        min-height: 300px;

        .card__inner {
          right: 0;

          .card__title {
            font-size: clamp($md, 3vw, $xl);
            font-weight: 900;
          }

          .card__button {
            padding: $lg-padding $xxl-padding;
            font-size: clamp($md, 3vw, $xl);
            opacity: 1;
          }
        }
      }
    }
  }
}
